<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body>

    <header class="border-bottom-thick px-2 clearfix">
  <div class="left sm-width-full py-1 mt-1 mt-lg-0">
    <a class="align-middle link-primary text-accent" href="/">
      {{ .Site.Title }}
    </a>
  </div>
  <div class="right sm-width-full">
    <ul class="list-reset mt-lg-1 mb-2 mb-lg-1">
      {{ range .Site.Menus.main }}
      <li class="inline-block">
        <a class="align-middle link-primary mr-2 mr-lg-0 ml-lg-2" href="{{ .URL }}">
          {{ .Name }}
        </a>
      </li>
      {{ end }}
    </ul>
  </div>
</header>

    <div>
      {{ block "main" . }}{{ end }}
    </div>

    {{ partial "footer.html" . }}
  </body>
</html>
