<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">

  {{ $style := resources.Get "scss/main.scss" | toCSS }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">

  <link rel="canonical" href="{{ .Permalink }}">
  {{ with .OutputFormats.Get "RSS" }}
  <link rel="alternate" type="{{ .MediaType }}" href="{{ .Permalink }}" title="{{ $.Site.Title }}">
  {{ end }}

  <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>
